<% @users.each do |u| %>
    <div class="user">
        <!-- profile pic -->
        <h2><%= u.name %></h2>
        <!-- most recent post -->
        <% if current_user && !current_user.following?(u) %>
            <form action="<%= follows_path %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="target_id" value="<%= u.id %>" />
                <input type="submit" value="Follow" />
            </form>
        <% else %>
            <form action="<%= follow_path(current_user.get_follow(u).id) %>" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="submit" value="Unfollow" />
            </form>
        <% end %>
    </div>
<% end %>


<a href="<%= new_user_path %>">New User</a>
