<table>
    <thead>
        <th>ID</th>
        <th>EMAIL</th>
        <th><!-- show button --></th>
        <th><!-- edit button --></th>
        <th><!-- delete button --></th>
    </thead>
    <tbody>
        <% @users.each do |u| %>
            <tr>
                <td><%= u.id %></td>
                <td><%= u.email %></td>
                <td><a href="/users/<%= u.id %>">Show</a><td>
                <td><a href="/users/<%= u.id %>/edit">Edit</a><td>
                <td>
                    <form action="/users/<%= u.id %>" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" value="DELETE" />
                    </form>
                <td>
            </tr>
        <% end %>
    </tbody>
</table>

<a href="<%= new_user_path %>">NEW USER</a>