<div class="user-details">
    <h1><%= @user.name %></h1>
    <div><%= @user.email %></div>
    <a href="<%= edit_user_path %>">Edit Profile</a>
</div>

<div class="user-posts">
    <% @user.posts.each do |p| %>
        <div class="post user-post">
            <h1><a href="<%= post_path(p.id) %>"><%= p.title %></a></h1>
        </div>
    <% end %>
</div>
