<h1><%= @post.title %> - <%= @post.user.name %></h1>
<div class="post-body">
	<%= @post.content %>
</div>

<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
            <ul>
                <% @comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= f.text_area :content, size: "60x12" %>
    </div>
    <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
    <%= f.submit %>
<% end %>

<% @post.comments.each do |c| %>
    <div class="comment">
        <p><%= c.content %></p>
        <span class="author">by: <%= c.user.name %></span>
        <span class="time"><%= time_ago_in_words(c.created_at) %> ago </span>
    </div> <!-- .comment -->
<% end %>

<a href="/posts">Posts Index</a>
