<h1 class="post-title"><%= @post.title %></h1>
<div class="post-meta">
    <b>By:</b>
    &nbsp;
    <span class="author"><%= @post.user.name %></span>
    <br />
    <b>Published:</b>
    &nbsp;
    <span class="published"><%= time_ago_in_words(@post.created_at) %></span>
</div> <!-- .post-meta -->

<div class="post-body">
	<%= @post.content %>
</div> <!-- .post-body -->

<%= render('comments/form', comment: @comment) %>

<% @post.comments.each do |c| %>
    <%= render('comments/show', comment: c) %>
<% end %>