<h1 class="post-title"><%= @post.title %></h1>
<div class="post-meta">
    <span class="author"><a href="<%= user_path(@post.user.id) %>"><%= @post.user.name %></a></span>
    <span class="published"><b>Published:</b> <%= time_ago_in_words(@post.created_at) %></span>
</div> <!-- .post-meta -->

<div class="post-body">
	<%= @post.content %>
</div> <!-- .post-body -->

<h4>Insert rude comment here:</h4>
<%= render('comments/form', comment: @comment) %>

<% @post.comments.each do |c| %>
    <%= render('comments/show', comment: c) %>
<% end %>